services:
  hugo-build:
    build:
      context: .
      args:
        HUGO_ACTION: build
    volumes:
      - ./exampleSite/public:/site/exampleSite/public
    environment:
      - HUGO_ACTION=build

  hugo-serve:
    build:
      context: .
      args:
        HUGO_ACTION: serve
    ports:
      - "1313:1313"
    volumes:
      - ./exampleSite/content:/site/exampleSite/content
    environment:
      - HUGO_ACTION=serve
