.lg-container {
    .lg-components, .lg-counter {
        font-family: Inter,-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,sans-serif;
    }
}
.content {

    .justified-gallery > a > .jg-caption, .justified-gallery > div > .jg-caption, .justified-gallery > figure > .jg-caption {
        background-color: unset;    
    }
    
    .photo-container {
        display: flex;
        flex-wrap: wrap;
    
        @media(max-width:899px) {
            margin: 0;
        }
    
        img {
            border-radius: 4px;
        }
    
        .photo-item {
            padding: 2px;
            width: 200px;
            // width: 50%;
    
            // @media(max-width:683px) {
            //    width: 100%;
            //}
            .jg-caption {
                font-size: 1rem;
                font-weight: 700;
                line-height: 1.3;
                text-shadow: 0 0 3px #000;
                font-family: Inter,-apple-system,BlinkMacSystemFont,Roboto,Segoe UI,Helvetica,Arial,sans-serif;
                left: 0;
                bottom: 0;
                top: auto;
                right: auto;
                position: absolute;
                padding: 0 10px 8px;

                // Allow text wrapping with 2-line limit
                white-space: normal;
                display: -webkit-box;
                -webkit-line-clamp: 2;
                -webkit-box-orient: vertical;
                overflow: hidden;
                text-overflow: ellipsis;
                word-wrap: break-word;
            }
        }
    }
}



.lg-fullscreen.lg-icon {
    font-size: 1.5rem;
    vertical-align: bottom;
}

.toggle-fullscreen-slideshow {
    cursor: pointer;
}