<div class="photo-collection photo-container">
    {{ $parentDepth := .parentUrl | strings.Count "/" }}
    {{ $parentUrl := .parentUrl }}

    {{/* Weak privacy mechanism: if we know collection url, see any child galleries */}}
    {{ $hideUnbrowseable := .hideUnbrowseable | default true }}
    {{ $sortBy := .sortBy | default "desc" }}
    {{ range $page := sort .pages ".Date" $sortBy }}
        {{/* printf "$parentUrl: %#v\n" $parentUrl */}}

        {{ $isVisible := or (ne $page.Params.browseable false) (ne $hideUnbrowseable true) }}
        {{/* printf "$isVisible: %b, $page.Params.hidden: %b, $hideUnbrowseable: %b" $isVisible $page.Params.hidden $hideUnbrowseable */}}

        {{ $wildcard := "**/" }}
        {{ $coverWildcard := print $wildcard $page.Params.Cover }}

        {{- with $page.Params.Cover -}}

            {{/* Try to get the resource for image processing (leaf bundles) */}}
            {{ $src := $page.Resources.Get $page.Params.Cover | default ($page.Resources.GetMatch $coverWildcard) | default (resources.Get $page.Params.Cover) }}

            {{/* Determine the image src - use processed version if available, otherwise construct direct URL */}}
            {{ $imgSrc := "" }}
            {{ if $src }}
                {{ $img := partial "get_img.html" $src }}
                {{ $imgSrc = $img.src }}
            {{ else }}
                {{/* Fallback for branch bundles: construct relative URL like postcover.html */}}
                {{ if $page.Site.Params.UseRelativeCover }}
                    {{ $imgSrc = printf "%s%s" $page.Permalink $page.Params.Cover }}
                {{ else }}
                    {{ $imgSrc = $page.Params.Cover | absURL }}
                {{ end }}
            {{ end }}

            {{/* Filter by parentUrl  */}}
            {{ if gt (len ($parentUrl)) 0 }}
                {{ $substr := substr $page.RelPermalink 0 (len $parentUrl) }}
                {{ $isUrlMatch := eq $substr $parentUrl }}

                {{ $childDepth := $page.RelPermalink | strings.Count "/" }}
                {{ $isNested := eq (add $parentDepth 1) $childDepth }}

                {{ if and ($isUrlMatch) ($isNested) ($isVisible) }}
                    <a class="photo-item" href="{{ $page.Permalink }}">
                        <img class="img-responsive" src="{{ $imgSrc }}" alt="{{ $page.Params.CoverAlt | plainify | default $page.Title }}"/>
                    </a>
                {{ end }}
            {{ end }}

            {{/* Unfiltered list  */}}
            {{ if eq (len ($parentUrl)) 0 }}
                {{ if ($isVisible) }}
                    <a class="photo-item" href="{{ $page.Permalink }}">
                        <img class="img-responsive" src="{{ $imgSrc }}" alt="{{ $page.Params.CoverAlt | plainify | default $page.Title }}"/>
                    </a>
                {{ end }}
            {{ end }}

        {{- end -}}

    {{ end }}
</div>
